.App {
  text-align: center;
}

.Menu {
  z-index: 99;
  background-color: #61dafb;
  border-radius: 6vh;
  box-sizing: border-box;
  margin: 3vh;
  height: 7vh;
  line-height: 6vh;
}

.App-logo {
  pointer-events: none;
}
.Menu-logo {
  pointer-events: none;
  vertical-align: middle;
  height: 4vh;
  margin-left: 3vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 0vh;
  display:block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Menu-header {
  display: inherit;
  font-size: calc(10px + 2vmin);
  vertical-align: middle;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
